{{!-- this is the post --}}
<div class="container.fluid p-2 bg-info post-card rounded flex-wrap shadow-box">
    <div class="d-flex justify-content-between flex p-2 bg-secondary rounded">
    <h2 class="display-6 p-1 blog-post"><a href="/post/{{post.id}}" class="post-title text-black-50">{{post.title}}</a></h2>
    <time class=""><em>{{post.date_created}}</em></time>
    </div>
    <h3 class="display-8 m-1 text-dark">Posted by {{user.name}}:</h3>
    <div class="m-2">
    <p class="lead text-body">{{post.post_body}}</p>
    </div>
</div>
{{!-- this is the comment input --}}
<div class="container.fluid p-2">
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment">Enter Comment:</label>
        <textarea class="form-input" id="comment" name="comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Create</button>
      </div>
    </form>
  </div>
</div>

{{!-- needs comments to be generated --}}
{{#if }}

<script src="./javascript/comment.js"></script>