<div>
    <h2> Welcome, {{name}}.</h2>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-body">body:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Create</button>
      </div>
    </form>
  </div>

{{#if posts.length}}
{{#each posts as |post|}}
<div class="container.fluid p-2 bg-info post-card rounded flex-wrap shadow-box">
    <div class="d-flex justify-content-between flex p-2 bg-secondary rounded">
    <h2 class="display-6 p-1 blog-post"><a href="/post/{{post.id}}" class="post-title text-black-50">{{post.title}}</a></h2>
    <time class=""><em>{{post.date_created}}</em></time>
    </div>
    <h3 class="display-8 m-1 text-dark">Posted by {{user.name}}:</h3>
    <div class="m-2">
    <p class="lead text-body">{{post.post_body}}</p>
    </div>
</div>
{{/each}}

{{/if}}

<script src="./javascript/profile.js"></script>