<div>
    <h2> Welcome, {{name}}.</h2>
</div>
{{!-- 
<div>
    <h3>New blog entry</h3>
    <form class="new-post-form">
        <div>
            <label for="post-name">Subject:</label>
            <input type="text" id="post-name">
        </div>
        <div>
            <textarea name="" id="post-body" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post!</button>
    </form>
</div> --}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-body">body:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Create</button>
      </div>
    </form>
  </div>

{{#if posts.length}}
{{#each posts as |post|}}
<div class="row">
    <div class="col-md-12">
    <h2>{{post.title}}</h2>
    <p>{{post.date_created}}</p>
    <h3>{{user.name}} said..</h3>
    <p>{{post.post_body}}</p>
    </div>
</div>
<hr>
{{/each}}

{{/if}}

<script src="./javascript/profile.js"></script>